<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
  <display-name>servlet_test</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Request</display-name>
    <servlet-name>Request</servlet-name>
    <servlet-class>test01.Request</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Request</servlet-name>
    <url-pattern>/request</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Time</display-name>
    <servlet-name>Time</servlet-name>
    <servlet-class>test03.Time</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Time</servlet-name>
    <url-pattern>/time</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Random</display-name>
    <servlet-name>Random</servlet-name>
    <servlet-class>test02.Random</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Random</servlet-name>
    <url-pattern>/random</url-pattern>
  </servlet-mapping>
</web-app>